body {
  text-align: center;
}

.container {
  width: 50%;
  margin: 5% auto;

}

label {
  display: block;
  margin: 2%;
}

.cust-percent-hide {
  display: none;
}

.cust-percent-show {
  display: inline-block;
}

.left-col, .right-col {
  display: inline-block;
  width: 49%
}

button{
  display: block;
  margin: 5% auto;
}
